@model RSS.Business.Models.UserModel

@{
    ViewData["Title"] = "LogIn";
}

<h3>LogIn</h3>

<hr />
<h5 class="text-danger">@TempData["message"]</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <p>ForgotPassword? <a asp-action="ForgotPassword" style="text-decoration:none">Reset Password</a></p>
            </div>
            <div class="form-group">
                <input type="submit" value="LogIn" class="btn btn-primary mt-3 mb-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>Don't have Account? <a asp-action="SignUp" style="text-decoration:none">Register</a></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
