################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RideSharingSystem/Presentation/RSS.WebApp/appsettings.Development.json
